/*https://habrahabr.ru/post/168149/      Генератор CSS*/
/* http://www.w3schools.com/css/css3_images.asp */

* { margin: 0; padding: 0; }
p { margin: 0px 0 0px 0; }

canvas { border: 5px solid black; }
canvas#b { width: 105px; height: 105px; } /* 5 * 21 = 105 */

/* Рендеринг CANVAS */
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}


@font-face {

	font-family: PixelFont;     /* Гарнитура шрифта */
    src: url('PixelCyr.ttf'); /* Путь к файлу со шрифтом */
}

/* Убираем прокрутку */
html, body {

  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

body {

  background: #030303;
  cursor: crosshair;
  overflow-y: hidden;
  width: calc(100% + 20px);
  padding: 0px;
}

.scanlines {

  pointer-events: none;
  z-index: 100;
  opacity: 1.;
  will-change: opacity;
  -webkit-animation: opacity 3s linear infinite;
          animation: opacity 3s linear infinite;
}

.scanlines:before {

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
  background-size: 100% 2px;
  will-change: background, background-size;
  -webkit-animation: scanlines .2s linear infinite;
          animation: scanlines .2s linear infinite;
}

.b-main-photos img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.blockcenter{
	
	border: 0px solid green;
  width: 98%; 
  height: 0%;
}


/*Эффект линий */
.scanlines{

	border: 0px solid yellow;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: inline;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	opacity: 0.7;

	pointer-events: none;
	z-index: 100;
	opacity: 1.;
	will-change: opacity;
	-webkit-animation: opacity 3s linear infinite;
	        animation: opacity 3s linear infinite;

}

 .framediv {
  border: 0px solid #40c4c8;
  padding: 0px;
  -moz-border-image: url() 0 round round;
  -webkit-border-image: url() 0 round round; 
  -o-border-image: url() 0 round round;
  border-image: url() 0 round round;
	color: white;
	width: 0%;
	height: 0%;
	top: 0; left: 0; bottom: 0; right: 0;
	display: table;
	margin: 0 auto;
	width: 0%;
	height: 0%;
}
