/*https://habrahabr.ru/post/168149/      Генератор CSS*/
/* http://www.w3schools.com/css/css3_images.asp */

* { margin: 0; padding: 0; }
p { margin: 5px 0 10px 0; }

canvas { border: 0px solid black; }

/* Рендеринг CANVAS*/  /* Pixel Art */ 
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */

  image-rendering: optimizeQuality;
  image-rendering: optimize-contrast;
}

img {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

input {
  position: absolute;
  top: calc(10px + var(--size2));
  left: 10px;
  width: calc(100% - 20px);
}

@font-face {
  font-family: PixelFont;                     /* Гарнитура шрифта */
  src: url('../fonts/PixelCyr.ttf');          /* Путь к файлу со шрифтом */
}

html, body {
  background: #030303;
  overflow-x: hidden;                         /*Убираем прокрутку по Икс    */
  overflow-y: hidden;                         /*Убираем прокрутку по Игрек  */
  cursor: crosshair;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  width: calc(100% + 0px);
  padding: 0px;
}

body{
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/*Эффект линий */
.scanlines {
  pointer-events: none;
  z-index: 100;
  opacity: 1.;
  will-change: opacity;
  -webkit-animation: opacity 3s linear infinite;
          animation: opacity 3s linear infinite;
}

.scanlines:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
  background-size: 100% 2px;
  will-change: background, background-size;
  -webkit-animation: scanlines .2s linear infinite;
          animation: scanlines .2s linear infinite;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    border: 0px solid grey;
}

.frame {
  border: 0px solid #40c4c8;
  padding: 0px;
  -moz-border-image: url(../img/frame00.png) 30 round round;
  -webkit-border-image: url(../img/frame00.png) 30 round round; 
  -o-border-image: url(../img/frame00.png) 30 round round;
  border-image: url(../img/frame00.png) 30 round round;
	color: white;
	font-family: sans-serif, cursive;
	width: 0%;
	height: 0%;
	top: 0; left: 0; bottom: 0; right: 0;
	display: none;
	margin: 0 auto;
	width: 0px;
	height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*  320x240 */ /* -150 = -(320+60)/2 -190 = -(240+60)/2 */
  margin: -0px 0 0 -0px;
}

.title{
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 50%;
  height: 50px;
  margin: -0px 0 0 -25%;
  font-family: PixelFont;
  font-size: 26px;
  color: white;
  text-align: center;
  border: 0px solid grey;

}

.filename{
  display: block;
  font-family: PixelFont;
  font-size: 18px;
  color: white;
  text-align: left;
  border: 0px solid grey;
}